.contenedor-tablero{
    aspect-ratio: 1 / 1;

}

.component-tablero{
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: flex-start;
    gap: 1rem;
    max-width: calc(600px - 3rem);
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(228, 228, 228, 0.767);
    box-shadow: 2px 2px 7px 2px rgb(245, 244, 244);
    backdrop-filter: blur(2px);
    padding: 1.5rem;
}

.tablero-lvl-indicator{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
}

#tablero{
    display: grid;
    width: auto;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
}

.casilla{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .1s linear;
}
.casilla::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 60%;
    right: 60%;
    top: 40%;
    border-radius: 50%;
    transform: translate(50%,-50%) rotate(55deg);
    background-color: rgba(212, 212, 212, 0.212);
    box-shadow: 1px -1px 7px 1px rgb(143, 141, 141);
}
.casilla::after{
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.247);
}

.active{
    background-color: rgb(130, 202, 13);
    position: relative;
    overflow: hidden;
}


.active::before{
    content: "";
    position: absolute;
    width: 5%;
    height: 150%;
    right: 30%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: none;
    transform: translate(50%, -50%);
}
.active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.253);
    transform: rotate(0deg) translateX(-40%);

}


.motherblock{
    background-color: brown;
}
.motherblock::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 40%;
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(40deg);
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: none;
}

.motherblock::after{
    content: "";
    position: absolute;
    width: 54%;
    height: 110%;
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(50deg);
    background-color: rgba(255, 255, 255, 0.253);
}