.background-modal{
    position: fixed;
    display: none;
    align-self: center;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 233, 233, 0.363);
    backdrop-filter: blur(2px);
    z-index: 999;
}

.window-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    background-color: white;
    padding: 2rem 1rem ;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.btn-close-modal{
    position: absolute;
    right: 0;
    top: 0;

}
.window-modal span{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
